<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body >
    <form action="loginClient" method="post">
           {% csrf_token %}
           Username:
           <input type="text" name="username"><br>
           <div >{{ ErUserName }}</div><br>
           Password:
           <input type="password" name="password"><br>
           <div >{{ ErPassword }} </div><br>
           <input type="submit">
    </form>
    <br>
    <form action="recoverPassword" method="post">
        {% csrf_token %}
        Ai uitat parola? 
        <input type="submit">
    </form>
    <br>
    <form action="createAcount" method="post">
        {% csrf_token %}
        Nu ai cont? 
        <input type="submit">
    </form>
</body>
</html>