<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
       <h1>Hello {{ USER.name }} cu id {{ USER.userID }}</h1><br>
        <p>
            Soldul contului este {{ CONT.sold }} <br>
            Ibanul contului este {{ CONT.iban }} <br>
        </p>
       <form action="transferConturi" method="post">
           {% csrf_token %}
           ibanDestinatie:
           <input type="text" name="ibanDestinatie">
           <br>
           suma:
           <input type="text" name="suma">
           <input type="hidden" name="ibanSursa" value="{{ CONT.iban }}">
           <input type="hidden" name="userID" value="{{ USER.userID }}">
           <br>
           <input type="submit">
       </form>
       <h3>{{ err }}</h3>>
       <h2>Tranzactii primite</h2>
    {% for transfer in listTransferOUT %}
        <form action="finalizareTransfer" method="post">
        {% csrf_token %}
            <div>
                IBAN primire: {{ transfer.IBANtrimite }}<br>
                Suma: {{ transfer.sumaTransfer }} RON<br>
                Data: {{ transfer.dataTranzactiei }}<br>

                <input type="hidden" name="IDTransfer" value="{{ transfer.IDTransfer }}">

                <button type="submit" name="action" value="accept">Accepta bani</button>

                <button type="submit" name="action" value="reject">Respinge transferul</button>
            </div>
        </form>
        <br>
    {% endfor %}
        <h2>Tranzactii trimise</h2>
    {% for transfer in listTransferIN %}
        <form action="cancelTransfer" method="post">
        {% csrf_token %}
            <div>
                IBAN trimitere: {{ transfer.IBANprimeste }}<br>
                Suma: {{ transfer.sumaTransfer }} RON<br>
                Data: {{ transfer.dataTranzactiei }}<br>

                <input type="hidden" name="IDTransfer" value="{{ transfer.IDTransfer }}">

                <button type="submit">Cancel</button>
            </div>
        </form>
        <br>
    {% endfor %}
</body>
</html>